In [2]:
students = ("aaditya","Gauri","RAJ","Nandini","Sara")
print(students)
type(students)

('aaditya', 'Gauri', 'RAJ', 'Nandini', 'Sara')

tuple

In [4]:
students[3] = "Siya"

TypeError: 'tuple' object does not support item assignment

In [11]:
#Strings can be created using the simple quotes and double quotes
Name = "Jyoti"
Area = 'Sangli'

In [12]:
text = """Python is an interpreted, high-level, general-purpose programming language. 
first released in 1991 , Python's design philosophy emphasizes code readability 
with its notable use of significant whitespace. Its language constructs and 
object-oriented approach aims to help programmers write clear, [] , . ss @  
logical code for small and large-scale projects."""

In [14]:
print(text)

Python is an interpreted, high-level, general-purpose programming language.
first released in 1991 , Python's design philosophy emphasizes code readability
with its notable use of significant whitespace. Its language constructs and
object-oriented approach aims to help programmers write clear, [] , . ss @
logical code for small and large-scale projects.

In [16]:
text.lower()

"python is an interpreted, high-level, general-purpose programming language. \nfirst released in 1991 , python's design philosophy emphasizes code readability \nwith its notable use of significant whitespace. its language constructs and \nobject-oriented approach aims to help programmers write clear, [] , . ss @  \nlogical code for small and large-scale projects."

In [18]:
text_lower = text.lower()
print(text_lower)

python is an interpreted, high-level, general-purpose programming language.
first released in 1991 , python's design philosophy emphasizes code readability
with its notable use of significant whitespace. its language constructs and
object-oriented approach aims to help programmers write clear, [] , . ss @
logical code for small and large-scale projects.

In [20]:
text.upper()

"PYTHON IS AN INTERPRETED, HIGH-LEVEL, GENERAL-PURPOSE PROGRAMMING LANGUAGE. \nFIRST RELEASED IN 1991 , PYTHON'S DESIGN PHILOSOPHY EMPHASIZES CODE READABILITY \nWITH ITS NOTABLE USE OF SIGNIFICANT WHITESPACE. ITS LANGUAGE CONSTRUCTS AND \nOBJECT-ORIENTED APPROACH AIMS TO HELP PROGRAMMERS WRITE CLEAR, [] , . SS @  \nLOGICAL CODE FOR SMALL AND LARGE-SCALE PROJECTS."

In [22]:
text_upper = text.upper()
print(text_upper)

PYTHON IS AN INTERPRETED, HIGH-LEVEL, GENERAL-PURPOSE PROGRAMMING LANGUAGE.
FIRST RELEASED IN 1991 , PYTHON'S DESIGN PHILOSOPHY EMPHASIZES CODE READABILITY
WITH ITS NOTABLE USE OF SIGNIFICANT WHITESPACE. ITS LANGUAGE CONSTRUCTS AND
OBJECT-ORIENTED APPROACH AIMS TO HELP PROGRAMMERS WRITE CLEAR, [] , . SS @
LOGICAL CODE FOR SMALL AND LARGE-SCALE PROJECTS.

In [24]:
text.split()

['Python',
 'is',
 'an',
 'interpreted,',
 'high-level,',
 'general-purpose',
 'programming',
 'language.',
 'first',
 'released',
 'in',
 '1991',
 ',',
 "Python's",
 'design',
 'philosophy',
 'emphasizes',
 'code',
 'readability',
 'with',
 'its',
 'notable',
 'use',
 'of',
 'significant',
 'whitespace.',
 'Its',
 'language',
 'constructs',
 'and',
 'object-oriented',
 'approach',
 'aims',
 'to',
 'help',
 'programmers',
 'write',
 'clear,',
 '[]',
 ',',
 '.',
 'ss',
 '@',
 'logical',
 'code',
 'for',
 'small',
 'and',
 'large-scale',
 'projects.']

In [26]:
text_split = text.split()
print(text_split)
type(text_split)
len(text_split)

['Python', 'is', 'an', 'interpreted,', 'high-level,', 'general-purpose', 'programming', 'language.', 'first', 'released', 'in', '1991', ',', "Python's", 'design', 'philosophy', 'emphasizes', 'code', 'readability', 'with', 'its', 'notable', 'use', 'of', 'significant', 'whitespace.', 'Its', 'language', 'constructs', 'and', 'object-oriented', 'approach', 'aims', 'to', 'help', 'programmers', 'write', 'clear,', '[]', ',', '.', 'ss', '@', 'logical', 'code', 'for', 'small', 'and', 'large-scale', 'projects.']

50

In [28]:
text.endswith('n')

False

In [29]:
text.endswith('.')

True

In [31]:
text_lower = text.lower()
print(text_lower)

python is an interpreted, high-level, general-purpose programming language.
first released in 1991 , python's design philosophy emphasizes code readability
with its notable use of significant whitespace. its language constructs and
object-oriented approach aims to help programmers write clear, [] , . ss @
logical code for small and large-scale projects.

In [32]:
print(text_lower.capitalize())

Python is an interpreted, high-level, general-purpose programming language.
first released in 1991 , python's design philosophy emphasizes code readability
with its notable use of significant whitespace. its language constructs and
object-oriented approach aims to help programmers write clear, [] , . ss @
logical code for small and large-scale projects.

In [33]:
print(text_lower.title())

Python Is An Interpreted, High-Level, General-Purpose Programming Language.
First Released In 1991 , Python'S Design Philosophy Emphasizes Code Readability
With Its Notable Use Of Significant Whitespace. Its Language Constructs And
Object-Oriented Approach Aims To Help Programmers Write Clear, [] , . Ss @
Logical Code For Small And Large-Scale Projects.

In [35]:
text.endswith('s',0,6) # suffix,start and end

False

In [36]:
text.endswith('s',0,9) # suffix,start and end

True

In [38]:
text.count('ed') # count how many times the value present in the string

3

In [39]:
text_lower.count('python')

2

In [40]:
text.endswith('s',0,25)

False

In [48]:
text.endswith('s',0,24)

False

- string

In [67]:
string1 = "My name is Jyoti and I am working a Data Scientist"

In [68]:
print(string1)

 My name is Jyoti and I am working a Data Scientist

In [72]:
# Converting from a string to list
list1 = string1.split()

In [73]:
print(list1)

['My', 'name', 'is', 'Jyoti', 'and', 'I', 'am', 'working', 'a', 'Data', 'Scientist']

In [74]:
len(list1)

11

In [78]:
list1.append('DL','AI')

TypeError: append() takes exactly one argument (2 given)

In [81]:
list1.append(['DL','AI']) # append takes only one argument so when you pass a list as an argument it considers it as only one element

In [82]:
print(list1)

['My', 'name', 'is', 'Jyoti', 'and', 'I', 'am', 'working', 'a', 'Data', 'Scientist', ['DL', 'AI'], ['DL', 'AI'], ['DL', 'AI']]

In [85]:
list1.extend(['DL','AI']) # extend will consider all elementsin that list as seperate and extend can add multiple element

In [86]:
print(list1)

['My', 'name', 'is', 'Jyoti', 'and', 'I', 'am', 'working', 'a', 'Data', 'Scientist', ['DL', 'AI'], ['DL', 'AI'], ['DL', 'AI'], 'DL', 'AI']

- A list is considered as a single element but contains multiple element within it.
- So when you pass the list in append it takes it as a single element and creates a nested list 
- In extend only the elements presentin list are added so you do not see nested list

In [88]:
list1.insert(4,'Sabarad')

In [90]:
print(list1)

['My', 'name', 'is', 'Jyoti', 'Sabarad', 'and', 'I', 'am', 'working', 'a', 'Data', 'Scientist', ['DL', 'AI'], ['DL', 'AI'], ['DL', 'AI'], 'DL', 'AI']

In [91]:
list1[3] = "Jyoti Sabarad"

In [92]:
print(list1)

['My', 'name', 'is', 'Jyoti Sabarad', 'Sabarad', 'and', 'I', 'am', 'working', 'a', 'Data', 'Scientist', ['DL', 'AI'], ['DL', 'AI'], ['DL', 'AI'], 'DL', 'AI']

In [95]:
list1.pop() # pop removes the last element in the list and tells which element has been removed

'DL'

In [118]:
list1.pop(4)

IndexError: pop index out of range

In [112]:
print(list1)

['My', 'name', 'is', 'I']

In [114]:
print(list.reverse())

TypeError: descriptor 'reverse' of 'list' object needs an argument

In [116]:
print(list1)

['My', 'name', 'is', 'I']

In [120]:
list2 = ['A','B','C','D']

In [122]:
print(list2.reverse())

None

In [126]:
print(list2)

['A', 'B', 'C', 'D']

- Create a tuple with any six states of an India and apply append,extend,pop,reverse.

In [131]:
list3 = ("Maharashtra","Karnataka","Goa","Rajasthan","Hariyana","Punjab")
print(list3)
type(list3)

('Maharashtra', 'Karnataka', 'Goa', 'Rajasthan', 'Hariyana', 'Punjab')

tuple

In [134]:
list3 = tuple(list3) # I have converted my list to tuple using tuple function
type(list3)

tuple

In [136]:
print(list3)

('Maharashtra', 'Karnataka', 'Goa', 'Rajasthan', 'Hariyana', 'Punjab')

In [137]:
list3 = list(list3) # Converting my tiple to list using list() function

In [139]:
type(list3)

list

In [ ]:
tuple1 = () # To initialize a tuple
list = [] # To Initialize a list